@{
	ViewData["Title"] = "Example Controller 2 Index";
	Layout = "ExampleLayout";
}

@section header {
	<div>header'a ekledim knk</div>
}
@section footer {
	<div>footer'a ekledim knk</div>
}
<div>Bu sayfa Example Controller 2  => Index Page</div>