<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - www.mysite.com</title>
</head>
<body>
    <header>
        <div>
            header burası
            @await RenderSectionAsync("header", required:false)
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Kamet Güler - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        @await RenderSectionAsync("footer", required:false)
    </footer>
</body>
</html>
